<div class="row">
  <div class="col-md-12">
    <img [src]="recipe.imagePath"
         alt="{{ recipe.name }}"
         class="img-responsive"
         style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="dropdown dropright"
      appDropdown>
      <button type="button"
              class="btn
              btn-primary
              dropdown-toggle
              mb2">
        Menage recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu p-0">
        <li class="list-group-item">
          <a
            (click)="onAddToShoppingList()"
            style="cursor: pointer">To Shopping list</a>
        </li>
        <li class="list-group-item">
          <a style="cursor: pointer" (click)="onEditRecipe()">Edit recipe</a>
        </li>
        <li class="list-group-item">
          <a style="cursor: pointer" (click)="onDeliteRecipe()">Delete recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredients of recipe.ingredients">
        {{ ingredients.name }} - {{ ingredients.amount }}
      </li>
    </ul>
  </div>
</div>

<p appBasic>Style me with basic directive!</p>
<p appBetter>Style me with better directive!</p>
<p appBetter defaultColor="yellow" highlightColor="orange">Style me with a better directive!</p>
